@include font-face(
	'OpenSans',
	font-files(
		'opensans-regular-webfont.svg',
		'opensans-regular-webfont.woff',
		'opensans-regular-webfont.woff2',
		'opensans-regular-webfont.ttf'
	),
	'opensans-regular-webfont.eot',
	normal,
	normal
);

@include font-face(
	'OpenSans',
	font-files(
		'opensans-bolditalic-webfont.svg',
		'opensans-bolditalic-webfont.woff',
		'opensans-bolditalic-webfont.woff2',
		'opensans-bolditalic-webfont.ttf'
	),
	'opensans-bolditalic-webfont.eot',
	bold,
	italic
);

@include font-face(
	'OpenSans',
	font-files(
		'opensans-bold-webfont.svg',
		'opensans-bold-webfont.woff',
		'opensans-bold-webfont.woff2',
		'opensans-bold-webfont.ttf'
	),
	'opensans-bold-webfont.eot',
	bold,
	normal
);

@include font-face(
	'OpenSans',
	font-files(
		'opensans-italic-webfont.svg',
		'opensans-italic-webfont.woff',
		'opensans-italic-webfont.woff2',
		'opensans-italic-webfont.ttf'
	),
	'opensans-italic-webfont.eot',
	normal,
	italic
);

@include font-face(
	'OpenSansExtraBold',
	font-files(
		'opensans-extrabold-webfont.svg',
		'opensans-extrabold-webfont.woff',
		'opensans-extrabold-webfont.woff2',
		'opensans-extrabold-webfont.ttf'
	),
	'opensans-extrabold-webfont.eot',
	normal,
	normal
);

@include font-face(
	'OpenSansExtraBold',
	font-files(
		'opensans-extrabolditalic-webfont.svg',
		'opensans-extrabolditalic-webfont.woff',
		'opensans-extrabolditalic-webfont.woff2',
		'opensans-extrabolditalic-webfont.ttf'
	),
	'opensans-extrabolditalic-webfont.eot',
	normal,
	italic
);

@include font-face(
	'OpenSansLight',
	font-files(
		'opensans-light-webfont.svg',
		'opensans-light-webfont.woff',
		'opensans-light-webfont.woff2',
		'opensans-light-webfont.ttf'
	),
	'opensans-light-webfont.eot',
	normal,
	normal
);

@include font-face(
	'OpenSansLight',
	font-files(
		'opensans-lightitalic-webfont.svg',
		'opensans-lightitalic-webfont.woff',
		'opensans-lightitalic-webfont.woff2',
		'opensans-lightitalic-webfont.ttf'
	),
	'opensans-lightitalic-webfont.eot',
	normal,
	italic
);

@include font-face(
	'OpenSansSemiBold',
	font-files(
		'opensans-semibold-webfont.svg',
		'opensans-semibold-webfont.woff',
		'opensans-semibold-webfont.woff2',
		'opensans-semibold-webfont.ttf'
	),
	'opensans-semibold-webfont.eot',
	normal,
	normal
);

@include font-face(
	'OpenSansSemiBold',
	font-files(
		'opensans-semibolditalic-webfont.svg',
		'opensans-semibolditalic-webfont.woff',
		'opensans-semibolditalic-webfont.woff2',
		'opensans-semibolditalic-webfont.ttf'
	),
	'opensans-semibolditalic-webfont.eot',
	normal,
	italic
);