// Color settings
$background_color: #f4f4f4;
$text_color: #333;
$text_color_secondary: #7f7f7f;
$border_color: #dee1e4;
$orange: #ff6600;
$white: #fff;
$gray: #e4e2e2;
$border_gray: #ebedef;
$sidebar_bg: #fbfbfb;
$blue: #5db2fc;
$ft_border_gray: #494949;
$light_blue: #e4ebee;
$sort_color: #5d656c;
$black: #000;
$table_gray: #e6e6e6;

// Font settings
$main_font: "OpenSans", sans-serif;
$main_font_semibold: "OpenSansSemiBold", sans-serif;
$main_font_light: "OpenSansLight", sans-serif;

// Size settings
$width: 1100px;