.content-container {
	width: $width;
	margin: 0 auto;
	overflow: hidden;
	@extend %clearfix;
}

.main-section {
	float: right;
	width: 745px;
}

.main-section-header {
	background-color: $light-blue;
	border: 1px solid $border_color;
	@extend %clearfix;
	@include border-radius(4px);
}

.sort {
	float: left;
	padding: 10px 0 14px 23px;
}

.sort__label {
	color: $sort_color;
}

%sort__arrow {
	border: none !important;
	width: 8px !important;
	height: 8px !important;
	border-bottom: 1px solid $border_gray !important;
	border-right: 1px solid $border_gray !important;
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	margin: auto !important;	
}

.select2-container {
	width: 145px !important;
	border: 1px solid $border_gray;

	.select2-selection__arrow {
		b {
			@extend %sort__arrow;
			@include rotate(45deg);
		}
	}

	&.select2-container-open {
		b {
			@extend %sort__arrow;
			@include rotate(135deg);
		}
	}
}

.page-view {
	float: right;
}

.page-view__label {
	margin-right: 18px;
	display: inline-block;
	vertical-align: middle;
	@extend .sort__label;
}

.page-view__item {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	position: relative;
	border-left: 1px solid $border_color;
	@include box-sizing(border-box);
}

.page-view__link {
	display: block;
	width: 50px;
	height: 50px;
}

.page-view-buttons {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

%page-view__icon {
	content: "";
	display: block;
	@include absolute-center();
}

$sprite_spacing: 60px;
$sort_map: sprite-map('icons/sort/*.png', $spacing: $sprite_spacing);
$sort_active_map: sprite-map('icons/sort_active/*.png', $spacing: $sprite_spacing);
$sort_hover_map: sprite-map('icons/sort_hover/*.png', $spacing: $sprite_spacing);

$icons: grid, list, table;

@each $icon in $icons {
	.page-view__#{$icon} {
		&:after {
			@extend %page-view__icon;
			@include sprite($sort_map, $icon);
		}

		&:hover:after {
			@include sprite($sort_hover_map, $icon + "_hover")
		}
	}

	.page-view__#{$icon + "__active"} {
		@include sprite($sort_active_map, $icon + "_active");
	}
}