- var sort = ['по цене', 'по популярности']
- var sort_view = ['table', 'grid', 'list']

section.content
	.content-container
		h1.h1 Мобильные телефоны
		include _sidebar
		.main-section
			.main-section-header
				.sort
					label.sort__label Сортировать по
						select.sort__select
							each item in sort
								option(value="").sort__item #{item}
				.page-view
					.page-view__label Вид каталога
					ul.page-view-buttons
						each view in sort_view
							li(class="page-view__item")
								a(href="#" class="page-view__" + view).page-view__link

			include _content_lines
			include _content_table
