- var products_list = ["189238", "Samsung GT-I9301I GALAXY S 3", "Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...", "4", true]

ul.products
	- for (var i = 0; i < 5; i++)
		li.products__item
			.products__left-col
				.products__main-image
					img(src="images/content/shop_03.jpg", alt="" + products_list[1])
				.products__thumbnails
					- for (var i = 0; i < 3; i++)
						.products__thumbnail
				.products__id 
					span.products__unit Артикул
				|	#{products_list[0]}
			.products__middle-col
				h2.h2 #{products_list[1]}
				p #{products_list[2]}
				.products__rating
			.products__right-col
				.products__price
				.products__order-button
				.products__available