section.important-info
	div.important-info-container
		h1.h1 Важная информация
		div.important-info-text
			- for (var x = 0; x < 6; x++)
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero animi id, iusto veniam deserunt nobis fugiat, voluptatem impedit molestias quibusdam doloribus, nulla quam saepe. Ut repellendus blanditiis fugiat corrupti perferendis!
