<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        title Интернет-магазин COOLTECH
        // inject:css
        // endinject
    body.body
        .wrapper
            include _header
            include _navigation
            include _breadcrumbs
            include _content
            include _important-info
        include _footer
        // vendor:js
        // endinject
        // custom:js
        // endinject