<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Интернет-магазин COOLTECH
        // inject:css
        // endinject
    body.body
        .wrapper
            include _header
            include _navigation
            include _breadcrumbs
            include _content
            include _important-info
        include _footer
        // inject:js
        // endinject